.aboutSection {
   display: flex;
   width: 80dvw;
   height: fit-content;
   flex-direction: column;
   border-radius: 2rem;
   background-color: white;
   margin-bottom: 1rem;
   align-items: center;

   > h1 {
      margin-bottom: 1.5em;
      color: white;
   }

   > .experienceContainer {
      display: grid;
      grid-template-areas: 'content' 'skills';
      width: 100%;
      height: fit-content;
      padding: 2dvw;
      margin-bottom: 5dvw;
      border-radius: 2rem;
      background: white;

      transition: all 0.5s ease;
      opacity: 0;
      transform: translateX(-50px);

      .content {
         grid-area: content;
         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-evenly;
         align-items: center;
         gap: 2dvw;
         font-size: clamp(9px, 1.5dvw, 20px);

         .experienceText > * {
            margin: 1dvh;
         }

         .experienceText > h5 {
            margin-bottom: 3dvh;
         }

         .experienceImage {
            grid-area: image;
            position: relative;
            width: 20dvw;
            height: auto;
            aspect-ratio: 1/1;
            object-fit: contain;
            background-size: contain;
            padding: 0;
         }

      }
   }

   > .experienceContainer.show {
      opacity: 1;
      transform: translateX(0px);
   }
}

.skillContainer {
   grid-area: skills;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin: 1dvw;
   padding: 1dvw;
   gap: 4dvw;
   
   > .skillCard {
      display: flex;
      width: 8dvw;
      height: 8dvw;
      align-items: center;
      justify-content: center;
      border-radius: 5rem;
      padding: 0.5dvw;
         
      > img {
         min-width: 0;
         height: 80%;
         aspect-ratio: 1/1;
         object-fit: contain;
      }
   }
}

