.contactBall {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    border-radius: 100%;
    width: auto;
    height: max(12dvh, 70px);
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 1;
    user-select: none;
}

.ballImg {
    width: auto;
    height: max(8dvh, 40px);
    aspect-ratio: 1/1;
    object-fit: contain;
    user-select: none;
}
