#projectFilters {
   display: flex;
   flex-direction: column;
   justify-self: center;
   align-items: center;
   gap: 20px;
   margin: 150px auto 50px auto;
   border-radius: 2.5em;
   height: 15dvh;

   > #searchBar {
      font-size: clamp(15px, 1dvw, 25px);
      font-weight: bolder;
      align-self: center;
      padding-left: 20px;
      border-radius: 2.5em;
      box-shadow: 0px 0px 35px 1px black;
      width: 60dvw;
      max-width: 650px;
      height: 45px;
      border-width: 0;
      transition: box-shadow ease-in-out 0.5s;
   }

   > #searchBar:focus {
      outline: none;
      border: none;
   }

   > #searchBar:hover
   {  
      box-shadow: 0px 0px 10px 1px gainsboro;
   }

   > .sortButton {
      font-weight: bolder;
      border-radius: 2.5em;
      box-shadow: 0px 0px 35px 1px black;
      width: 100px;
      height: clamp(30px, 2dvw, 65px);
      border-width: 0;
      transition: box-shadow ease-in-out 0.5s;
      margin: 0;
   }

   > .sortButton:hover
   {
      cursor: pointer;
      box-shadow: 0px 0px 10px 1px gainsboro;
   }

   .sortOptions {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      color: gainsboro;
      gap: 10px;
      padding: 0;
      margin: 0;

      > .sortOption {
         flex-basis: 100px;
         flex-shrink: 1;
         font-weight: bolder;
         border-radius: 2.5em;
         box-shadow: 0px 0px 35px 1px black;
         height: clamp(30px, 2dvw, 65px);
         border-width: 0;
         transition: box-shadow ease-in-out 0.5s;
         margin: 0;
      }

      > .sortOption:hover {
         cursor: pointer;
         box-shadow: 0px 0px 35px 1px gainsboro;
      }
   }
}

.projectCard {
   display: flex;
   flex: 0 0 auto;
   width: 300px;
   height: 'auto';
   aspect-ratio: 1/1;
   flex-direction: column;
   background-color: white;
   border-radius: 2rem;
   border-width: 8px;
   border-style: solid;
   padding: 1% 3%;
   font-size: 70%;
   align-items: center;

   .projectLink {
      color: inherit;
   }

   .projectLink:visited {
      color: inherit;
   }

   .projectText {
      width: 100%;
      height: 75%;
      
      h2 {
         height: fit-content;
      }

      h3 {
         width: 100%;
         height: 30%;
         line-clamp: 4;
         -webkit-line-clamp: 4;
         overflow: auto;
         /* font-size: small; */
         text-overflow: ellipsis;
      }

      h4 {
         margin: 0px;
         margin-bottom: 10px;
      }
   }

   .projectLogo {
      width: 25px;
      height: auto;
      aspect-ratio: 1/1;
      margin-left: 10px;
   }
}

.projectList {
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   width: 90dvw;
   height: fit-content;
   gap: 2rem 4.5rem;
   margin-left: auto;
   margin-right: auto;
}

/* .languageContainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   height: fit-content;
}
*/